<!DOCTYPE html>
<head>
     <title>Piggyback</title>

     <!-- Bower Components -->
     <script src="/bower/angular/angular.min.js" type="text/javascript"></script>
     <script src="/bower/socket.io/socket.io.js" type="text/javascript"></script>

     <!-- libs -->

     <!-- AngularJS -->
     <script src="/app.js" type="text/javascript"></script>
     <script src="/controllers/feed_controller.js" type="text/javascript"></script>
     <script src="/controllers/feed_item_controller.js" type="text/javascript"></script>
     
     <!-- CSS -->
     <link rel="stylesheet" type="text/css" href="/views/general.css">
</head>
<body>
  <div class="Content">
    <div ng-app="PiggybackApp" ng-controller="FeedController as feed">
      <div ng-repeat="item in feed.promotions | limitTo: feed.feedDisplayQuantity" ng-controller="FeedItemController as feedItem" ng-init="feedItem.init(item)" class="FeedItem">
        <div>{{feedItem.item.created_date}}</div>
      	<div>{{feedItem.getTimeLeft( feedItem.item.end_date )}}</div>
      </div>
    </div>
  </div>
</body>
</html>
